@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <span>
                        Developed by <a href="https://www.linkedin.com/in/aleksandartashev">Aleksandar Tashev</a> as a sample implementation of the SalesForce.NET Toolkit along with ASP.NET MVC.
                        <br />
                        Contact: <a href="mailto:aleksandar.tashev@hotmail.com">aleksandar.tashev [AT] hotmail.com</a>
                    </span>
                </header>
            </section>
        </div>
    </div>
</section>